<footer class="footer">
<div style="width: 1920px; height: 160px; position: relative">
    <div style="width: 1920px; height: 160px; left: 0px; top: 0px; position: absolute; background: linear-gradient(179deg, #5c7c72 0%, rgb(0, 0, 0) 100%)"></div>
    <div style="height: 41px; left: 163px; top: 20px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 22px; display: inline-flex">
      <div style="width: 37px; height: 37px; background: radial-gradient(ellipse 84.37% 126.70% at 50.00% 50.00%, rgba(255, 255, 255, 0.20) 10%, rgba(0, 0, 0, 0) 100%), linear-gradient(to bottom right, white 0%, rgba(228.44, 217.02, 199.88, 0) 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, white 0%, rgba(228.44, 217.02, 199.88, 0) 50%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, white 0%, rgba(228.44, 217.02, 199.88, 0) 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, white 0%, rgba(228.44, 217.02, 199.88, 0) 50%) top right / 50% 50% no-repeat; box-shadow: 0px 4px 6px rgba(162.56, 221.72, 255, 0.32) inset; border-radius: 9999px"></div>
      <div style="color: #FFF8F8; font-size: 40px; font-family: Iceland; font-weight: 400; word-wrap: break-word">Solaris</div>
    </div>
    <div style="left: 163px; top: 97px; position: absolute; color: rgba(255, 255, 255, 0.60); font-size: 14px; font-family: Roboto; font-weight: 400; line-height: 24px; letter-spacing: 0.42px; word-wrap: break-word">+66 666 66 66 6</div>
    <div style="left: 163px; top: 117px; position: absolute; color: rgba(255, 255, 255, 0.60); font-size: 14px; font-family: Roboto; font-weight: 400; line-height: 24px; letter-spacing: 0.42px; word-wrap: break-word">solaris@space.com</div>
    <div style="left: 163px; top: 67px; position: absolute; color: #FFF8F8; font-size: 20px; font-family: Iceland; font-weight: 400; word-wrap: break-word">Karlburg, st.ABBA 27</div>
    <div style="left: 569px; top: 26px; position: absolute; color: #FFF8F8; font-size: 30px; font-family: Iceland; font-weight: 400; word-wrap: break-word">Join us</div>
    <div style="width: 226px; left: 498px; top: 59px; position: absolute; justify-content: space-between; align-items: flex-start; display: inline-flex">
      
      <div style="width: 46px; height: 46px; position: relative; padding: 5px; overflow: hidden">
        <img style="width: 38.33px; height: 38.33px; left: 3.83px; top: 3.83px;" src="assets\images\svgeus\instagraminst.svg"></img>
    </div>
      <div style="width: 46px; height: 46px; position: relative; padding: 5px; overflow: hidden">
        <img style="width: 38.33px; height: 38.33px; left: 3.83px; top: 3.83px;" src="assets\images\svgeus\facebookface.svg"></img>
      </div>
      <div style="width: 46px; height: 46px; position: relative; padding: 5px; overflow: hidden">
        <img style="width: 38.33px; height: 38.33px; left: 3.83px; top: 3.83px;" src="assets\images\svgeus\twittertwit.svg"></img>
    </div>
      <div style="width: 46px; height: 46px; position: relative; padding: 5px; overflow: hidden">
          <img style="width: 38.33px; height: 38.33px; left: 3.83px; top: 3.83px;" src="assets\images\svgeus\telegramtg.svg"></img>
      </div>
    </div>
  </div>
</footer>